---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
---

<Layout title="SpaceX - Clon">
	<Header/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<Section color='transparent' h3='UPCOMING LAUNCH' h2="Starship's Eighth Flight Test" button='LEARN MORE' video='/media/SpaceX-Section-1.mp4'/>
		<Section color='rgba(0, 0, 0, 0.8)' h3='RECENT LAUNCH' h2='IM-2 MISSION' button='REWATCH' img="background-image: url('/media/SpaceX-Section-2.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' h3='RECENT LAUNCH' h2='STARLINK MISSION' button='REWATCH' img="background-image: url('/media/SpaceX-Section-3.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' h3='RECENT LAUNCH' h2='STARLINK MISSION' button='REWATCH' img="background-image: url('/media/SpaceX-Section-4.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' h3='' h2='ADVANCING HUMAN SPACEFLIGHT' button='REWATCH' img="background-image: url('/media/SpaceX-Section-5.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' h3='' h2="TO MAKE LIFE MULTIPLANETARY" button='LEARN MORE' img="background-image: url('/media/SpaceX-Section-6.webp')"/>
		<footer class="absolute py-5 snap-center w-full h-20 bg-black">
			<span class="flex h-full text-white justify-center items-center gap-x-8">
				<p class="text-xs font-normal">SPACEX CLON 2024</p>
				<a href="https://www.spacex.com" aria-label="SpaceX Official Website" class="text-xs font-semibold hover:opacity-70">OFICIAL WEBSITE</a>
				<a href="/" aria-label="Information for SpaceX suppliers" class="text-xs font-semibold hover:opacity-70">SUPPLIERS</a>
			</span>
		</footer>
	</main>
</Layout>

<style>
	a {
		transition: opacity 500ms ease;
	}

	main::-webkit-scrollbar {
		width: 15px;
	}

	main::-webkit-scrollbar-thumb {
		background: url('/media/image-1.png') no-repeat center center;
		background-size: 150% 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	main::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.8);
	}

	main::-webkit-scrollbar-track:hover {
		background-color: #111;
	}
</style>

<script>
	const sections = document.querySelectorAll('Section');
	let main = document.querySelector('main') as HTMLElement;
	
	sections.forEach(function (section, index) {
		let h3 = section.querySelector('div h3') as HTMLElement;
		let h2 = section.querySelector('div h2') as HTMLElement;
		let span = section.querySelector('div span') as HTMLElement;

		if (span && h3 && h2) {
			const estaEnViewport = (element: HTMLElement) => {
				const rect = element.getBoundingClientRect();

                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
			}

			if (estaEnViewport(h3)) {
				h3.id = "h3_"+(index+1).toString();
            }

			if (estaEnViewport(h2)) {
				h2.id = "btn_"+(index+1).toString();
            }

			if (estaEnViewport(span)) {
				span.id = "btn_"+(index+1).toString();
            }

			main.addEventListener('scroll', () => {
                if (estaEnViewport(h3)) {
					h3.id = "h3_"+(index+1).toString();
				}

				if (estaEnViewport(h2)) {
					h2.id = "btn_"+(index+1).toString();
				}

				if (estaEnViewport(span)) {
					span.id = "btn_"+(index+1).toString();
				}
            });
        }
	})
</script>