---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/SectionContainer.astro';
---

<Layout title="SpaceX - Clon">
	<Header/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<Section color='transparent' client:load h3='UPCOMING LAUNCH' h2='STARLINK MISSION' button='WATCH' img="background-image: url('/media/SpaceX-Section-6.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' client:load h3='RECENT LAUNCH' h2='STARLINK MISSION' button='REWATCH' img="background-image: url('/media/SpaceX-Section-1.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' client:load h3='RECENT LAUNCH' h2='TELKOMSAT MERAH PUTIH 2 MISSION' button='REWATCH'/>
		<Section color='rgba(0, 0, 0, 0.8)' client:load h3='RECENT LAUNCH' h2='INTUITIVE MACHINES IM-1 MISSION' button='REWATCH' img="background-image: url('/media/SpaceX-Section-3.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' client:load h3='RECENT LAUNCH' h2='USSF-124 MISSION' button='REWATCH' img="background-image: url('/media/SpaceX-Section-4.webp')"/>
		<Section color='rgba(0, 0, 0, 0.8)' client:load h3='RECENT LAUNCH' h2="STARSHIP'S SECOND FLIGHT TEST" button='LEARN MORE' video="/media/SpaceX-Section-5.mp4"/>
		<footer class="absolute py-5 snap-center w-full h-20 bg-black">
			<span class="flex h-full text-white justify-center items-center gap-x-8">
				<p class="text-xs font-normal">SPACEX CLON 2024</p>
				<a href="https://www.spacex.com/" aria-label="SpaceX Official Website" class="text-xs font-normal hover:opacity-70">OFICIAL WEBSITE</a>
				<a href="/" aria-label="Information for SpaceX suppliers" class="text-xs font-normal hover:opacity-70">SUPPLIERS</a>
			</span>
		</footer>
	</main>
</Layout>

<style>
	a {
		transition: opacity 500ms ease;
	}
</style>